.op1 {
    background-color: #2196F3;
    padding: 2px;
    float: left;
    width: 16.6%; /* The width is 20%, by default */
}

.op1:hover {
    background-color: gold;
}

.op2 {
    background-color: #2196F3;
    padding: 2px;
    float: left;
    width: 16.6%; /* The width is 20%, by default */
}

.op2:hover {
    background-color: gold;
}

.op3 {
    background-color: #2196F3;
    padding: 2px;
    float: left;
    width: 16.6%; /* The width is 20%, by default */
}

.op3:hover {
    background-color: gold;
}

.op4 {
    background-color: #2196F3;
    padding: 2px;
    float: left;
    width: 16.6%; /* The width is 20%, by default */
}

.op4:hover {
    background-color: gold;
}
@media screen and (max-width: 800px) {
    .op1, .op2, .op3, .op4{
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
          }
        }