
.col-sm-3 {
    background-color: #2196F3;
    
}

.col-sm-3:hover {
    background-color: gold;
}
.col-sm-2 {
    background-color: #2196F3;
    
}

.col-sm-2:hover  {
    background-color: gold;
}
@media screen and (max-width: 800px) {
    .op1, .op2, .op3, .op4, .op5{
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
          }
        }
.btn{font-weight: bold;


}        